<a href="https://colab.research.google.com/github/ArekPloska/Machine_Learning/blob/main/PreProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)

In [2]:
import numpy as np
import pandas as pd
import sklearn

In [4]:
sklearn.__version__

'1.0.2'

In [6]:
data = {
    'size':['XL','L','M','L','M'],
    'color':['red','green','blue','green','red'],
    'gender':['female','male','male','female','female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 300, 410],
    'bought': ['yes','no','yes','no','yes']
}

In [7]:
df_raw = pd.DataFrame(data=data)
df_raw

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     300     no
4    M    red  female   79.0     410    yes

In [9]:
df = df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

In [10]:
for col in ['size','color','gender','bought']:
  df[col] = df[col].astype('category')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      category
dtypes: category(4), float64(1), int64(1)
memory usage: 740.0 bytes

In [12]:
df['weight'] = df['weight'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 740.0 bytes

In [13]:
df.describe()

            price      weight
count    5.000000    5.000000
mean   119.000000  392.000000
std     48.476799   89.833179
min     79.000000  300.000000
25%     89.000000  300.000000
50%     99.000000  410.000000
75%    129.000000  450.000000
max    199.000000  500.000000

In [14]:
df.describe(include=['category'])

       size  color  gender bought
count     5      5       5      5
unique    3      3       2      2
top       L  green  female    yes
freq      2      2       3      3

In [15]:
df.describe().T

        count   mean        std    min    25%    50%    75%    max
price     5.0  119.0  48.476799   79.0   89.0   99.0  129.0  199.0
weight    5.0  392.0  89.833179  300.0  300.0  410.0  450.0  500.0

In [16]:
df.describe(include=['category']).T

       count unique     top freq
size       5      3       L    2
color      5      3   green    2
gender     5      2  female    3
bought     5      2     yes    3

Label Encoder

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df['bought'])
le.transform(df['bought'])

array([1, 0, 1, 0, 1])

In [18]:
le.fit_transform(df['bought'])

array([1, 0, 1, 0, 1])

In [19]:
le.classes_

array(['no', 'yes'], dtype=object)

In [20]:
df['bought'] = le.fit_transform(df['bought'])

In [21]:
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   300.0       0
4    M    red  female   79.0   410.0       1

In [23]:
df['bought'] = le.inverse_transform(df['bought'])

In [24]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   300.0     no
4    M    red  female   79.0   410.0    yes

OneHotEncodeer

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [29]:
encoder = OneHotEncoder(sparse=False)
encoder.fit(df[['size']])

OneHotEncoder(sparse=False)

In [30]:
encoder.transform(df[['size']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [31]:
encoder.categories_

[array(['L', 'M', 'XL'], dtype=object)]

In [33]:
encoder = OneHotEncoder(drop='first', sparse=False)
encoder.fit(df[['size']])
encoder.transform(df[['size']])

array([[0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.]])

In [34]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   300.0     no
4    M    red  female   79.0   410.0    yes

Panda get_dummies()

In [38]:
pd.get_dummies(data=df, drop_first=True, columns=['size'])

   color  gender  price  weight bought  size_M  size_XL
0    red  female  199.0   500.0    yes       0        1
1  green    male   89.0   450.0     no       0        0
2   blue    male   99.0   300.0    yes       1        0
3  green  female  129.0   300.0     no       0        0
4    red  female   79.0   410.0    yes       1        0

In [39]:
from sklearn.preprocessing import scale

In [41]:
scale(df['price'])

array([ 1.84506242, -0.69189841, -0.4612656 ,  0.2306328 , -0.92253121])

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
scaler = StandardScaler()
scaler.fit_transform(df[['price']])

array([[ 1.84506242],
       [-0.69189841],
       [-0.4612656 ],
       [ 0.2306328 ],
       [-0.92253121]])

In [44]:
scaler = StandardScaler()
df[['price','weight']] = scaler.fit_transform(df[['price','weight']])

In [46]:
df

  size  color  gender     price    weight bought
0   XL    red  female  1.845062  1.344132    yes
1    L  green    male -0.691898  0.721849     no
2    M   blue    male -0.461266 -1.145002    yes
3    L  green  female  0.230633 -1.145002     no
4    M    red  female -0.922531  0.224022    yes

Przygotowanie danych do modelu

In [47]:
df = df_raw.copy()
le = LabelEncoder()
df['bought'] = le.fit_transform(df['bought'])
scaler = StandardScaler()
df[['price','weight']] = scaler.fit_transform(df[['price','weight']])
df = pd.get_dummies(data=df, drop_first=True)

In [48]:
df

,price,weight,bought,size_M,size_XL,color_green,color_red,gender_male
0,1.845062,1.344132,1,0,1,0,1,0
1,-0.691898,0.721849,0,0,0,1,0,1
2,-0.461266,-1.145002,1,1,0,0,0,1
3,0.230633,-1.145002,0,0,0,1,0,0
4,-0.922531,0.224022,1,1,0,0,1,0